<div ng-if="LSC.loggedUser.isSuperAdmin" class="col-sm-2" style="width: 13%; margin-top: 50px; padding-left: 0; position: fixed">
	<div class="sidebar-nav">
		<div class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<span class="visible-xs navbar-brand">Sidebar menu</span>
			</div>
			<div class="navbar-collapse collapse sidebar-navbar-collapse" style="max-height: 640px; overflow: auto !important;">
				<ul class="nav navbar-nav">
					<li class="side-nav-bar-li"><a ui-sref="app.principal"><span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;Principal</a></li>
					<li class="side-nav-bar-li"><a ui-sref="app.inventory"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Inventario</a></li>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;Ventas</a></li>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Clientes</a></li>
					<li class="side-nav-bar-li"><a ui-sref="app.users"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;Empleados</a></li>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Gastos</a></li>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-import"></span>&nbsp;&nbsp;Entradas</a></li>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;Proveedores</a></li>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Reportes</a></li>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-certificate"></span>&nbsp;&nbsp;Facturacion</a></li>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;Promociones</a></li>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Sucursales</a></li>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Configuracion</a></li>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Reloj Checador</a></li>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;Turnos</a></li>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Mensajes&nbsp;<span class="badge">1,118</span>
					<li class="side-nav-bar-li"><a href="#"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Salir</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>
